h1 {
  text-align: center;
  margin: 50px 0;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border-radius: 50%;
}
/* ***************** */
.btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.svg-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.svg-btn svg {
  width: 200px;
  height: 60px;
}

.svg-btn:hover rect {
  filter: brightness(1.3);
}
