/* valid and invalid form fields */
input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -50px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: "Invalid";
  color: red;
}

input:valid + span::before {
  content: "valid";
  color: green;
}
