@font-face {
  font-family: SpaceGrotesk;
  src: url(./../Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 70%;
  margin: 0 auto;
  background-color: var(--bg-light);
  color: var(--text-dark);
  line-height: 1.6;
  padding-top: 80px;
}
h1 {
  margin-bottom: 20px;
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.skill-card__icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #333;
}

.skill-card__title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.skill-card__level {
  height: 8px;
  width: 100%;
  background: #eee;
  border-radius: 4px;
  position: relative;
}

.skill-card__level--expert::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background: #2ecc71;
  border-radius: 4px;
}

.skill-card__level--beginner::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: #f1c40f;
  border-radius: 4px;
}
