<footer class="bg-slate-900 backdrop-blur-md border-t border-slate-800 py-4">
  <div class="max-w-7xl mx-auto px-6">
    <p class="text-slate-500 text-md tracking-wide text-center">
      &copy; 2026
      <span
        class="text-md font-black tracking-tighter bg-linear-to-r from-blue-400 to-emerald-400 bg-clip-text text-transparent"
        >movieApp</span
      >
      Lab. Built with <span class="text-md bg-clip-text font-bold">Zainab Hilal</span>❤️ using
      Angular & Tailwind CSS.
    </p>
  </div>
</footer>
