* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 600px;
  background-image: url(../photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.564); */
  /* background-image: linear-gradient(to right bottom,red, blue, green); */
  /* background-image: linear-gradient(black, transparent, white); */
  /* background-image: radial-gradient(red, blue, green); */
  /* background-image: conic-gradient(red, blue, green, yellow); */
  /* background-image: conic-gradient(red 0%, red 25%, blue 25%, blue 50%, green 50%, green 75%, yellow 75%, yellow 100%); */
}

/* body{
  background-color: black;
}


.t1{
  width: 100%;
  height: 100vh;
  background-image: url(./hero3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer2{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent, black 70%);
} */

.skill {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(red 70%, white 60%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer3 {
  width: 150px;
  height: 150px;
  background-color: #ffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back */
.x {
  width: 90px;
  height: 90px;
  background-color: blueviolet;
  /* transition-duration: 3s; */
  /* transition-delay: 2s; */
  /* transition-property: width, background-color;
  transition-timing-function: linear; */
  /* transition: 3s 0s all ease; */

  position: relative;

  animation-duration: 5s;
  animation-name: move;
  /* animation-delay: 2s; */
  /* animation-timing-function: ease; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: normal;
  animation-fill-mode: forwards; */
  /* animation: 3s linear 0s infinite move3; */
}

@keyframes move {
  from {
    width: 0px;
  }
  to {
    width: 190px;
  }
}

@keyframes move2 {
  0% {
    width: 0px;
  }
  50% {
    width: 120px;
  }
  100% {
    width: 190px;
  }
}

@keyframes move3 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 200px;
  }
  50% {
    top: 200px;
    left: 200px;
  }
  75% {
    top: 200px;
    left: 0px;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* go */
.x:hover {
  /* width: 190px;
  background-color: red; */
  /* transition-delay: 0s; */
  /* transition-property: width; */
}


.header{
  width: 100%;
  height: 80px;
  background-color: blueviolet;
  position: sticky;
  top: 0;
  left: 0;
  animation-name: move;
  /* animation-duration: 3s; */
  animation-timeline: scroll();
  animation-range: 0 1em;
}
.header2{
  width: 100%;
  height: 80px;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: move2;
  /* animation-duration: 3s; */
  animation-timeline: scroll();
  animation-range: 0 1em;
}

@keyframes move {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes move2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.progress{
  width: 100%;
  height: 12px;
  background-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  animation-name: prog;
  animation-timeline: scroll();
}

@keyframes prog {
  from{
    width: 0px;
  }
  to{
    width: 100%;
  }
}

svg {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}